

.container {
  padding: 80px 0px 109px 0px;
  background-color: #43144a;
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
  width: 100%;
  /* height: 30vw; */
}

@media screen and (max-width: 900px) {
  .sideImage {
    display: none;
  }
}

.sideImage {
  /* width: 400px; */
  height: 700px;
}

.char {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  box-sizing: border-box;
}

.middle {
  text-align: center;
  /* width: 30%; */
  margin: 0;
}

.title {
  margin: 10px auto 0px;
  /* width: 400px; */
  /* height: 77px; */
  /* left: 493px; */
  top: 345px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  /* line-height: 77px; */

  color: #ffc700;
}

.text1 {
  /* position: static; */
  margin-top: 23px;
  height: 29px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 29px; */
  /* identical to box height */

  text-align: center;

  color: #cbcbff;

  /* Inside Auto Layout */
}

.text2 {
  /* position: static; */
  /* width: 380px; */
  /* height: 29px; */
  /* left: 52.5px; */
  /* top: 49px; */
  margin-top: 20px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 29px; */
  /* identical to box height */

  text-align: center;

  color: #cbcbff;

  /* Inside Auto Layout */
}

.gridContainer {
  margin-top: 30px;
}

.gameGrid {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #ee8d94;
}

.input {
  border: 4px solid #ee8d94;
  box-sizing: border-box;
  border-radius: 5px;
  width: 91px;
  height: 44px;
  background-color:  transparent;
  /* left: 219px;
top: 12px; */
  margin-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  /* line-height: 44px; */
  /* identical to box height */

  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
}

.btns {
  position: relative;
  top: -42px;
  left: 37px;
}

.btnUp {
  height: 9px;
  margin-bottom: -2px;
  cursor: pointer;
}

.btnDown {
  height: 9px;
  margin-bottom: 2px;
  cursor: pointer;
}

.button {
  padding: 10px;
  cursor: pointer;

  width: 300px;
  height: 60px;
  

  background: #853594;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fcfcfc;
  margin-top: 20px;
}
